* {
    box-sizing:border-box
}

head {
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
}

html {
    font-family: 'Open Sans', sans-serif;
}

.banner-card img {
    max-width: 100%;
    height: auto;
}



.text-1 {
    display: flex;
    background-color: #0E1215;
    color: white;
    align-items: center;
    justify-content: space-around;
}


.box-1 {
    max-width: 100%;
    height: 40%;
    background-color: aqua;

}

.presentation-1 {
    max-width: 250px;
}






